DB_NAME=budget_buddy_db
DB_USER=budget_buddy_user
DB_PASSWORD=budget_buddy_password
DB_IMAGE_TAG=18.3-alpine

SPRING_PROFILES_ACTIVE=prod

BUDGET_BUDDY_API_IMAGE=docker.io/library/budget-buddy-api:0.0.1-SNAPSHOT
OIDC_ISSUER_URI=https://<your-oidc-provider>
OIDC_AUDIENCES=https://<your-oidc-audiences>

DOCKER_PLATFORM=linux/arm64
