DB_NAME=budget_buddy_db
DB_USER=budget_buddy_user
DB_PASSWORD=budget_buddy_password

SPRING_PROFILES_ACTIVE=prod

BUDGET_BUDDY_API_IMAGE=docker.io/library/budget-buddy-api:0.0.1-SNAPSHOT
BUDGET_BUDDY_API_ACCESS_TOKEN_SECRET=secret
BUDGET_BUDDY_API_ACCESS_TOKEN_VALIDITY_SECONDS=900
BUDGET_BUDDY_API_REFRESH_TOKEN_VALIDITY_SECONDS=1209600
